/target
tools/*/target/

.serena
.claude

# Data output files
/data/
docker/data/
legacy

# Logs
/logs/

# IDE settings
.vscode/

# OS files
.DS_Store

# Hardware dumps
devtree.json

# AMax
TrapezoidalfilterMCA_dpp_tests

# Test output files
*.root

tmp